body {
  /* display: inline-block; */
  text-align: center;
  margin: 0px;
  font-family: "Merriweather", serif;
  font-size: 200%;
  background-color: #3C2C3E;
}


span {
  text-decoration: underline;
}

.top-container {
  margin-top: 100px;
  position: relative;
  padding-left: 550px;
  background-color: #3C2C3E;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #646FD4;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #646FD4;
  font-weight: bold;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #406882;
}
.middle-container{
    background-color: #3C2C3E;
    width: 100%;
}



.bottom-container{
    background-color: #3C2C3E;
  margin-bottom: 30px;

}

.bottom-container1 {
  color: #11999e;
  background-color: 396EB0;
  margin-top: 0px;
  display: block;
}

.bottom-cloud {
  position: absolute;
  left: 30%;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.mountain {
  height: 400px;
  width: 700px;
}

.mayank {
  height: 250px;
  width: 250px;
}
.html {
  width: 10%;

 
}


.cpp {
  width: 10%;
 

}
.css {
  width: 10%;
}
.flutter {
  width: 10%;
  height: 10%;
}

.skill-row {
  width:50%;
  /* margin:100px auto 100px auto; */
  line-height:2;
  display: inline-block;
  margin-right: 50px;
}

.footer-link {
  color: #406882;
  margin-right: 30px;
  margin-left: 30px;
}



hr {
    border: 8px dotted #0ddaed;
    border-style: dotted none none;
    width: 15%;
}

.btn{
  background-color: #11999e;
  border: 1px solid #11999e;
  color: #fff;
  font-weight: 700;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 13px 22px;
  margin-right: 50px;
  text-transform: uppercase;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s ease-in-out 0s;
  text-align: center;
}

.spcl{
  width: 100%;
}

.clg-img{
  float: left;
  border-radius: 140px;
  margin-left:30px;
  margin-right:30px;
}

.h4{
  font-weight: normal;
  text-align: left;
}
.clg{
  text-align: left;
}


